/* Mixins */
* {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif; }

#canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  display: block; }

#tablet-plugin {
  position: absolute;
  top: -1000px; }

#gui-container {
  width: 245px;
  position: fixed;
  top: 90px;
  right: 30px;
  border-radius: 4px; }

#topbar {
  background: #222222;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  font-family: 'Open Sans', sans-serif;
  padding: 0 30px;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

.logo,
.main-menu {
  float: left; }

.logo {
  margin-top: 15px;
  margin-right: 20px; }

.main-menu {
  color: #ececec; }
  .main-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0; }
  .main-menu ul > li {
    float: left;
    line-height: 60px;
    padding-left: 30px;
    position: relative;
    cursor: pointer; }
    .main-menu ul > li .shortcut {
      float: right;
      color: #999999;
      font-size: 12px;
      margin-right: 10px; }
    .main-menu ul > li:hover {
      color: #1caad9; }
    .main-menu ul > li:hover > ul {
      display: block;
      color: #ececec;
      opacity: 1;
      pointer-events: auto;
      top: 50px; }
  .main-menu ul > li > ul {
    position: absolute;
    top: 40px;
    left: 10px;
    background: #222222;
    width: 160px;
    padding: 8px;
    border-radius: 0 4px 4px 0;
    pointer-events: none;
    opacity: 0;
    -webkit-transition: 0.15s all ease;
    -ms-transition: 0.15s all ease;
    -moz-transition: 0.15s all ease;
    -o-transition: 0.15s all ease;
    transition: 0.15s all ease; }
  .main-menu ul > li > ul > li {
    float: none;
    display: block;
    font-size: 14px;
    line-height: 30px;
    margin-left: 0;
    padding-left: 10px;
    font-size: 12px; }
  .main-menu li.group-title {
    font-size: 14px;
    font-weight: 600;
    color: #999999;
    text-transform: uppercase;
    background: #444444;
    padding-left: 10px;
    margin: 5px 0 10px 0; }
    .main-menu li.group-title:hover {
      color: #999999; }

.main-actions {
  float: right;
  color: #ececec; }

.reset,
.export-button {
  float: left;
  line-height: 40px;
  margin-top: 10px;
  cursor: pointer; }
  .reset i,
  .export-button i {
    margin-right: 10px; }

.export-button {
  background: #1caad9;
  border-radius: 4px;
  padding: 0 20px;
  margin-left: 40px;
  -webkit-transition: 0.15s background ease;
  -ms-transition: 0.15s background ease;
  -moz-transition: 0.15s background ease;
  -o-transition: 0.15s background ease;
  transition: 0.15s background ease; }
  .export-button:hover {
    background: #1998c2; }

.reset:hover {
  color: #1caad9; }

#gui-container {
  background: #222222;
  font-family: 'Open Sans', sans-serif;
  padding: 5px 5px 0 5px; }
  #gui-container .dg {
    font-family: 'Open Sans', sans-serif; }
    #gui-container .dg li.title {
      width: auto;
      height: 28px;
      line-height: 28px;
      background: #444444;
      border-bottom: 0;
      border-radius: 4px;
      font-size: 14px;
      font-weight: 600;
      color: #999999;
      text-transform: uppercase;
      margin-left: 0;
      padding: 0 0 0 10px;
      -webkit-transition: 0.15s background ease;
      -ms-transition: 0.15s background ease;
      -moz-transition: 0.15s background ease;
      -o-transition: 0.15s background ease;
      transition: 0.15s background ease; }
      #gui-container .dg li.title:hover {
        background: #515151; }
    #gui-container .dg li {
      border-bottom: 0;
      padding-left: 0; }
    #gui-container .dg li:not(.title) {
      background: transparent !important;
      font-size: 12px !important;
      line-height: 31px; }
    #gui-container .dg .dg ul > li:not(.title) {
      padding-left: 10px;
      margin: 10px 0; }
    #gui-container .dg .folder {
      border-left: 0; }
      #gui-container .dg .folder li {
        border-left: 0; }
    #gui-container .dg .slider {
      margin-left: 0px;
      width: 90px;
      border-radius: 2px;
      margin-top: 0;
      overflow: hidden;
      height: 20px;
      background: #333333; }
    #gui-container .dg .dg .has-slider input[type=text] {
      width: 42px;
      border-radius: 2px;
      color: #cccccc;
      margin-top: 0;
      text-align: center;
      line-height: 20px;
      background: #333333; }
    #gui-container .dg .folder + .folder {
      margin-top: 10px; }
    #gui-container .dg select {
      background: #333333;
      -webkit-appearance: none;
      color: #999999;
      border: 0;
      display: block;
      width: 142px;
      border-radius: 2px;
      height: 28px;
      line-height: 28px;
      padding-top: 0;
      margin-top: 0;
      padding-left: 10px;
      font-size: 14px;
      position: relative; }
      #gui-container .dg select:after {
        content: '\f0c9';
        font-family: 'FontAwesome';
        position: absolute;
        top: 0;
        right: 0;
        color: #fff; }
  #gui-container .c input[type="text"] {
    padding: 0;
    line-height: 20px; }

.skfb-uploader {
  position: relative;
  border-radius: 4px; }
  .skfb-uploader h1 {
    font-weight: normal;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: #ececec;
    font-size: 24px;
    text-align: center;
    margin-bottom: 30px; }
  .skfb-uploader label {
    display: none; }
  .skfb-uploader > div {
    font-size: 17px; }
  .skfb-uploader > div + div {
    margin-top: 30px; }
  .skfb-uploader input[type="text"],
  .skfb-uploader textarea {
    background: #444;
    display: block;
    padding: 20px;
    border-radius: 4px;
    border: 0;
    width: 100%;
    color: #fff;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 17px; }
    .skfb-uploader input[type="text"]:focus,
    .skfb-uploader textarea:focus {
      background: #777777;
      outline: 0; }
  .skfb-uploader textarea {
    height: 100px; }
  .skfb-uploader .btn {
    width: 100%;
    background: #1caad9;
    padding: 0 20px;
    line-height: 60px;
    margin-top: 40px;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    display: block;
    text-decoration: none;
    text-align: center;
    border-radius: 2px;
    -webkit-transition: 0.15s background ease;
    -ms-transition: 0.15s background ease;
    -moz-transition: 0.15s background ease;
    -o-transition: 0.15s background ease;
    transition: 0.15s background ease; }
    .skfb-uploader .btn:hover {
      background: #1998c2; }
  .skfb-uploader .cancel {
    position: absolute;
    top: 30px;
    right: 30px;
    color: #777;
    text-decoration: none;
    border: 2px solid #777;
    border-radius: 40px;
    width: 20px;
    height: 20px;
    display: block;
    line-height: 20px;
    text-align: center; }
