#gui-container {
  background: $darker;
  font-family: 'Open Sans', sans-serif;
  padding: 8px 8px 0 8px;

  .dg {
    font-family: 'Open Sans', sans-serif;

    li.title {
      width: auto;
      height: 28px;
      line-height: 28px;
      background: none;
      border-bottom: 1px solid $dark;
      font-size: $folderTitles;
      font-weight: 600;
      color: $light;
      text-transform: uppercase;
      margin-left: 0;
      padding: 0 0 5px 10px;
      @include prefix(transition, .15s background ease);

      &:hover {
        background: lighten($dark, 5%);
      }
    }

    li {
      border-bottom: 0;
      padding-left: 0;
    }

    li:not(.title) {
      background: transparent !important;
      font-size: 12px !important;
      line-height: 31px;
    }

    .dg ul > li:not(.title) {
      padding-left: 10px;
      margin: 10px 0;
    }

    .folder {
      border-left: 0;

      li {
        border-left: 0;
      }
    }

    .slider {
      margin-left: 0px;
      width: 90px;
      border-radius: 2px;
      margin-top: 0;
      overflow: hidden;
      height: 20px;
      background: $slider;
    }

    .dg .has-slider input[type=text] {
      width: 42px;
      border-radius: 2px;
      color: $lighter;
      margin-top: 0;
      text-align: center;
      line-height: 20px;
      background: $slider;
    }

    .folder + .folder {
      margin-top: 10px;
    }

    select {
      background: $select url('../ressources/select-icon.png') no-repeat 120px center;
      @include prefix(appearance, none);
      color: $light;
      border: 0;
      display: block;
      width: 142px;
      border-radius: 2px;
      height: 28px;
      line-height: 28px;
      padding-top: 0;
      margin-top: 0;
      padding-left: 10px;
      font-size: 14px;
      position: relative;
      cursor: pointer;

      &:hover {
        background-color: lighten($select, 5%);
      }

      &:active,
      &:focus {
        outline: 0;
      }
    }
  }

  .c input[type="text"] {
    padding: 0;
    line-height: 20px;
  }
}